:root {
  --grey-0: oklch(1 0 0);
  --grey-1: oklch(0.995 0 0);
  --grey-2: oklch(0.975 0 0);
  --grey-3: oklch(0.952 0.004 240);
  --grey-4: oklch(0.845 0 0);
  --grey-5: oklch(0.597 0 0);
  --grey-6: oklch(0.522 0 0);
  --grey-7: oklch(0.321 0 0);
  --grey-8: oklch(0.252 0 0);
  --grey-9: oklch(0 0 0);

  --grey-1-a0: oklch(0.995 0 0 / 0);
  --grey-1-a7: oklch(0.995 0 0 / 0.7);
  --grey-1-a5: oklch(0.995 0 0 / 0.5);
  --grey-1-a3: oklch(0.995 0 0 / 0.3);
  --grey-9-a1: oklch(0 0 0 / 0.1);
  --grey-9-a5: oklch(0 0 0 / 0.5);
  --grey-2-a0: oklch(0.975 0 0 / 0);

  --color-pink-light-old: oklch(0.946 0.047 338.1);
  --color-pink-light: oklch(0.946 0.047 338.1 / 0.72);
  --color-cyan-light-old: oklch(0.972 0.027 169.1);
  --color-cyan-light: oklch(0.972 0.027 169.1 / 0.72);

  --color-red: oklch(0.579 0.216 22.2);
  --color-pink: oklch(0.709 0.147 351.2);
  --color-orange: oklch(0.721 0.153 42.4);
  --color-yellow: oklch(0.791 0.158 91.8);
  --color-green: oklch(0.517 0.155 143.2);
  --color-aqua: oklch(0.638 0.085 197.2);
  --color-blue: oklch(0.679 0.123 240.7);
  --color-purple: oklch(0.569 0.105 336.2);
  --color-grey: oklch(0.654 0.015 224.3);

  --color-red-a1: oklch(0.646 0.18 22 / 0.1);
  --color-red-a3: oklch(0.646 0.18 22 / 0.3);
  --color-pink-a3: oklch(0.709 0.147 351.2 / 0.3);
  --color-pink-light-a3: oklch(0.946 0.047 338.1 / 0.3);
  --color-pink-light-a5: oklch(0.946 0.047 338.1 / 0.5);
  --color-pink-light-a7: oklch(0.946 0.047 338.1 / 0.7);

  --body-bg-shadow: var(--grey-2);
  --box-bg-shadow: var(--grey-9-a1);
  --text-color: var(--grey-7);
  --header-text-color: var(--grey-0);
  --primary-color: var(--color-red);

  --nav-bg: linear-gradient(-225deg, var(--color-cyan-light) 0%, var(--color-pink-light) 100%);
}

.primary {
  --note-border: oklch(0.759 0.076 332.2);
  --note-bg: oklch(0.984 0.014 320.3);
  --note-text: oklch(0.568 0.161 317.8);
  --note-hover: oklch(0.597 0.155 316.4);
}

.info {
  --note-border: oklch(0.725 0.092 274.3);
  --note-bg: oklch(0.976 0.014 242.6);
  --note-text: oklch(0.411 0.087 252.2);
  --note-hover: oklch(0.5 0.139 256.1);
}

.success {
  --note-border: oklch(0.793 0.078 130.4);
  --note-bg: oklch(0.993 0.021 115.7);
  --note-text: oklch(0.467 0.112 139.5);
  --note-hover: oklch(0.554 0.139 141.7);
}

.warning {
  --note-border: oklch(0.794 0.04 85.5);
  --note-bg: oklch(0.987 0.029 97.8);
  --note-text: oklch(0.611 0.132 88.6);
  --note-hover: oklch(0.777 0.118 93.6);
}

.danger {
  --note-border: oklch(0.817 0.097 0.7);
  --note-bg: oklch(0.97 0.021 359.8);
  --note-text: oklch(0.57 0.222 20.1);
  --note-hover: oklch(0.653 0.212 18.8);
}

:root[data-theme="dark"] {
  --grey-0: oklch(0.252 0 0);
  --grey-1: oklch(0.283 0.011 264);
  --grey-2: oklch(0.361 0 0);
  --grey-3: oklch(0.426 0 0);
  --grey-4: oklch(0.522 0 0);
  --grey-5: oklch(0.757 0 0);
  --grey-6: oklch(0.845 0 0);
  --grey-7: oklch(0.901 0 0);
  --grey-8: oklch(0.949 0 0);
  --grey-9: oklch(0.975 0 0);

  --grey-1-a7: oklch(0.283 0.011 264 / 0.7);
  --grey-1-a5: oklch(0.283 0.011 264 / 0.5);
  --grey-1-a3: oklch(0.283 0.011 264 / 0.3);
  --grey-1-a0: oklch(0.283 0.011 264 / 0);
  --grey-9-a1: oklch(0.321 0 0 / 0.1);
  --grey-2-a0: oklch(0.361 0 0 / 0);

  --color-pink-light: oklch(0.313 0.016 347.9);
  --color-cyan-light: oklch(0.321 0.009 174.8);

  --color-red: oklch(0.616 0.214 21.6);
  --color-pink: oklch(0.709 0.147 351.2 / 0.8);
  --color-orange: oklch(0.721 0.153 42.4 / 0.8);
  --color-yellow: oklch(0.934 0.05 102);
  --color-green: oklch(0.765 0.112 143.7);
  --color-aqua: oklch(0.848 0.059 197.5);
  --color-blue: oklch(0.864 0.066 240.1);
  --color-purple: oklch(0.786 0.084 330.3);
  --color-grey: oklch(0.885 0 0);

  --body-bg-shadow: oklch(0 0 0);
  --box-bg-shadow: oklch(0 0 0);
  --text-color: var(--grey-5);
  --header-text-color: var(--grey-9);

  --nav-bg: linear-gradient(-225deg, var(--color-cyan-light) 0, var(--color-pink-light) 100%);
}

.red {
  color: var(--color-red);
}
.pink {
  color: var(--color-pink);
}
.orange {
  color: var(--color-orange);
}
.yellow {
  color: var(--color-yellow);
}
.green {
  color: var(--color-green);
}
.aqua {
  color: var(--color-aqua);
}
.blue {
  color: var(--color-blue);
}
.purple {
  color: var(--color-purple);
}
.grey {
  color: var(--color-grey);
}
